[Unit]
Description=Schedule a backupdate every 1 day
RefuseManualStart=yes  # Allow manual starts
RefuseManualStop=no   # Allow manual stops

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true

[Install]
WantedBy=timers.target
