[Unit]
After=default.target
Description=A job to run backupdate script
OnFailure=failure-mail@%N.service
Requires=default.target

[Service]
ExecStart=/usr/local/bin/backupdate.sh
Type=simple
