[Unit]
Description=Schedule a backupdate every 1 day
RefuseManualStart=yes
RefuseManualStop=no

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true

[Install]
WantedBy=timers.target
