[Unit]
Description=A job to run backupdate script
OnFailure=failure-mail@%N.service

[Service]
Type=simple
ExecStart=/usr/local/bin/backupdate.sh

[Install]
WantedBy=default.target
